html{
  height:100%;
}
body {
  margin: 0;
  padding:0;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;
  display:flex;
  flex-direction:column;
  min-height:100%;
}
/* popup */

dialog{
  box-sizing:border-box;
  width:calc(100% - 16px);
  max-width:400px;
  border:1px solid #ddd;
  border-radius:8px;
  text-align:center;
  padding:13px 24px 16px;
}
dialog h2{
  margin-bottom:8px;
  color:#555;
  padding:0 8px;
  font-size:15px;
}
dialog .controls{
  display:grid;
  grid-tempalte-columns:1fr 1fr;
  gap:16px;
  margin-bottom:8px;
}
dialog .controls button{
  padding:12px;
  cursor:pointer;
  background:#00acee;
  outline:none;
  border: 1px solid #00acee;
  border-radius:5px;
  color:#ddd;
  font-size:1em;
}
dialog .controls button.close-btn{
  background:transparent;
  color:#00acee;
}

/* nav */
.nav-item{
  margin-right:20px;
}
.navbar-nav .nav-item .nav-link.active {
  font-weight: bold !important;
  color: #9EDDFF !important; 
}

.navbar-nav .nav-item .nav-link {
  color:#9EDDFF; 
}
.navbar.open {
  background-color: #6499E9; 
}
.navbar {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar.transparent {
  background-color: transparent;
  box-shadow: none;
}


.navbar.scrolled {
  background-color: #6499E9; 
  color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"%3e%3cpath stroke="%23ffffff" stroke-width="10" d="M10 25h80M10 50h80M10 75h80"/%3e%3c/svg%3e') !important;
}

.navbar.transparent .navbar-toggler {
  background-color: transparent !important;
}
.navigasi-page .navbar{
  background-color: #6499E9; 
  
}
.navigasi-page-navbar{
  background-color: #6499E9; 
}
.navbar .nav-link {
  color: #ffffff;
}
.navbar-nav a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 700;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
.navbar-light .navbar-brand {
	color: #fff;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
	color: #fff;
}
.navbar-light .navbar-nav .nav-link {
	color: #fff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #9EDDFF;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #;
}
/* carousel  */
.carousel-item {
  height: 100vh;
  min-height: 300px;
}
.bg-1, .bg-2, .bg-3 {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.bg-1 {
  background-image: url(/img/Truck.jpg);
}
.bg-2 {
  background-image: url(/img/Werehouse.jpg);
}
.bg-3 {
  background-image: url(/img/ship.jpg);
}
.carousel-caption {
  bottom: 220px;
  z-index: 2;
}
.carousel-caption h5 {
  font-size: 85px;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin-top: 25px;
  font-family: 'Moon Dance', cursive;
}
.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}
.carousel-caption a {
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 20px;
  display: inline-block;
  color: #fff;
  margin-top: 15px;
  border-radius: 5px;
}
.carousel-inner::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.carousel-indicators {
  bottom: 65px;
}
.carousel-indicators button {
  width: 100px ;
}
/* main */
.main{
  padding-top: 20px;
  width:100%;
  height:auto;
}
/* bagian Gallery */
.wrapperGallery{
  width: 80%;
  padding: 30px 70px;
  text-align: center;
  margin-left:150px;
}
.section-header{
  text-transform: uppercase;
  line-height: 70px;
  padding-bottom: 30px;
  font-size: 50px;
  color: #262626;
  letter-spacing: 2px;
}
.wrapperGallery h1::after{
  content:"";
  height:4px;
  width:230px;
  background-color:#008DDA;
  display:block;
  margin:auto;
}
.wrapperGallery h1{
  font-size:40px;
}
.contentGallery {
padding: 10%;
}
.contentGallery h2 {
font-size: 25px;
text-transform: uppercase;
margin-bottom: 15px;
}
.contentGallery p {
line-height: 1.5;
}
.main-content{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-main-content-gap: 25px;
  grid-column-gap: 15px;
}
.main-content .box{
  position: relative;
  cursor: pointer;
  margin-bottom: 15px;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
  height: 250px;
  overflow: hidden;    
}
.main-content .box::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
.main-content .box:hover:before{
  top: 0;
  right: calc(100% - 5px);
  z-index: 10;
}
.main-content .box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-content .box .img-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255,0.9);
  width: 100%;
  height: 100%;
  top: 0;
  right: 100%;
  transition: all 0.5s ease-in-out;	
}
.main-content .box:hover .img-text{
  top: 0;
  right: 0;
}

/* bagian about */
.AboutSection {
  background-color: #F8EDFF;
  height: auto;
}
.heading h1::after{
  content:"";
  height:4px;
  width:50px;
  background-color:#008DDA;
  display:block;
  margin-bottom:10px;
}
.containerAbout .heading {
  width: 85%;
  text-align: left;
}

.containerAbout .heading h1 {
  font-size: 50px;
  margin-top: 50px;
}

.wrapper {
  width: 85%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  width: 50%;
  margin: 0px 25px;
  transition: transform 0.3s ease;
}

.content:hover {
  transform: translateY(-10px);
}

.content h2 {
  font-size: 24px;
  color: #284966;
}

.content p {
  color: #666;
  font-size: 19px;
  line-height: 1.5;
  margin-top: 10px;
}

.content .btn {
  position: relative;
  margin-top: 30px;
  text-decoration: none;
  border: 2px solid #008DDA;
  font-size: 19px;
  color: #008DDA;
  padding: 13px 16px;
  display: inline-block;
  letter-spacing: 1px;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.3s ease;
}

.content .btn::before {
  position: absolute;
  content: "";
  border: 1px solid transparent;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #008DDA;
  z-index: -1;
  transition: transform 0.7s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.5, 0.4, 0.7);
  transform: scaleX(0);
}

.content .btn:hover {
  color: #fff;
}

.content .btn:hover::before {
  transform: scaleX(1);
}

.image {
  width: 50%;
  transition: transform 0.4s ease;
}

.image:hover {
  transform: translateY(-10px);
}

.image img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}

/* Masuk bagian learn more About*/
.JudulAbout h2 {
  margin-left: 150px;
  color: Black;
  margin-top: 100px;
}

.JudulAbout h2::after {
  content: "";
  height: 4px;
  width: 50px;
  background-color: #008DDA;
  display: block;
  margin-bottom: 10px;
}

.contentAbout h2 {
  font-size: 24px;
  color: #284966;

}

.contentAbout p {
  color: #666;
  font-size: 15px;
  line-height: 1.5;
  margin-top: 10px;
  padding-bottom:50px;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 150px;
}

.contentAbout {
  flex: 1;
  max-width: 50%;
  margin-right: 20px;
}

.imageAbout {
  flex: 1;
  max-width: 50%;
  margin-bottom:20px;
}

.imageAbout img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}

/* bagian Services */
.title h1{
  text-align:center;
  padding-top:50px;
  font-size:42px;
}
.title h1::after{
  content:"";
  height:4px;
  width:230px;
  background-color:#008DDA;
  display:block;
  margin:auto;
}
.services{
  width:85%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin:75px auto;
  text-align:center;
}
.cardservice{
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items:center;
  flex-direction:column;
  margin:0px 20px;
  padding:20px 20px;
  background-color:#008DDA;
  border-radius:10px;
  cursor:pointer;
}
.cardservice:hover{
  background-color:#41C9E2;
  transition:0.4s ease;
}
.cardservice .icon{
  font-size:35px;
  margin-bottom:10px;
}
.cardservice h2{
  font-size:28px;
  color:#FDFFE2;
  margin-bottom:20px;
}
.cardservice p{
  font-size:17px;
  margin-bottom:30px;
  line-height:1.5;
  color:white;
}
.button{
  font-size:15px;
  text-decoration:none;
  color:#fff;
  background-color:#52D3D8;
  padding:8px 12px;
  border-radius:5px;
  letter-spacing:1px;

}
.button:hover{
  background-color:#0766AD;
  transition:0.4s ease;
}

/* WhyUs */
.whyus{
  margin:140px 0px;
}
.wrapperwhy {
  width: 100%;
  background-color: #2b2a3d;
  padding:50px 0px;
}
.why {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
}
.image-sectionwhy {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-sectionwhy img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 2px solid #fff;
}
article {
  width: 55%;
}
article h3 {
  font-size: 22px;
  font-weight: 500;
  color: #7d7d7d;
}
article p {
  font-size: 17px;
  color: #fff;
  margin-top: 25px;
}
article .buttonwhy {
  margin-top: 35px;
}
article a {
  color: #008DDA;
  padding: 15px 23px;
  font-size: 19px;
  font-weight: 300;
  text-decoration: none;
  border: 1px solid #008DDA;
  border-radius: 5px;
  transition: background-color 0.5s ease, color 0.5s ease;
}
article a:hover {
  background-color: #008DDA;
  color: #fff;
}
/* Masuk bagian Why us */
.nav-page {
  padding: 20px;
}
.Judulwhy h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 100px; 
}

.content-containerwhy {
  display: flex;
  flex-wrap: wrap; 
  align-items: flex-start; 
  padding: 20px;
}

.imageWhy {
  flex: 1;
  margin-right: 20px;
}

.imageWhy img {
  width: 100%;
  border-radius: 15px; 
  object-fit: cover;
}

.contentwhy {
  flex: 2;
}

.contentwhy h2 {
  margin-bottom: 20px;
  font-weight: 500;
  color: #7d7d7d;
  font-size: 24px; 
}

.contentwhy p {
  line-height: 1.6;
}
/* slide iklan */

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 100px;
  margin: 0 100px;
}
/* footer */
footer {
  background: #3D3B40;
  padding-top: 50px;
  margin-top:auto;
  
}

.containers {
  width: 100%;
  max-width: 1140px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-content {
  flex: 1;
  min-width: 200px;
  padding: 0 10px;
  box-sizing: border-box;
}

h3 {
  font-size: 24px; 
  margin-bottom: 15px;
  text-align: center;
  color: white;
}

.footer-content p {
  margin: auto;
  padding: 7px;
  color: white;
  text-align: center;
}

.footer-content ul {
  padding: 0;
  margin: 0;
}
.footer-content h3 {
  color:white;
}

.list {
  padding: 0;
}

.list li {
  text-align: center;
  list-style-type: none;
  padding: 7px;
  position: relative;
}

.list li::before {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 100%;
  width: 0;
  height: 2px;
  background: White;
  transition-duration: .5s;
}

.list li:hover::before {
  width: 70px;
}

.social-icons {
  padding: 0;
  text-align: center;
}

.social-icons li {
  display: inline-block;
  padding: 5px;
}

.social-icons i {
  color: white;
  font-size: 25px;
}

a {
  text-decoration: none;
}

a:hover {
  color: white;
}

.social-icons i:hover {
  color: #008DDA;
}

.bottom-bar {
  background: #6499E9;
  text-align: center;
  padding: 10px 0;
  margin-top: 50px;
}

.bottom-bar p {
  color: #343434;
  margin: 0;
  font-size: 16px;
  padding: 7px;
}

/* WhatsApp*/
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #25D366;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  z-index: 1000;
}

.whatsapp-float:hover {
  background-color: #128C7E;
}
/* Responsive */
@media only screen and (max-width: 991px) {
  /* nav */
  .nav-item{
    margin-right:0px;
  }
  .navbar-nav {
		text-align: center;
	}
	.navbar-collapse {
		background: #6499E9;
	}
	.navbar-collapse .nav-item .nav-link {
		color: White;
	}
  /* carousel */
	.carousel-caption {
		bottom: 350px;
	}
	.carousel-caption h5 {
		font-size: 65px;
	}
	.carousel-caption p {
		font-size: 18px;
		width: 100%;
	}
  /* Main */

  .main{
    height:auto;
  }
  
  /* Gallery */
  .wrapperGallery{
    width: 80%;
    padding: 30px 0px;
    text-align: center;
    margin-left:90px;
  }
  /* About */
  .AboutSection{
    margin:0px;
  }
  /* Masuk bagian about */
  .content-container {
    margin: 0 50px;
  }
  
  .JudulAbout h2 {
    margin-left: 50px;
    margin-top: 50px;
  }
   /* Services */
   .services{
    display:flex;
    flex-direction:column;
  }
  .cardservice{
    width:85%;
    display:flex;
    margin:40px 0px;
  }

}
@media only screen and (max-width: 768px) {
  /* navbar */
  .navbar-nav {
		text-align: center;
	}
	.navbar-collapse .nav-item .nav-link {
		color: White;
	}
  .navbar-collapse {
		background: #6499E9;
	}
  /* carousel */
	.carousel-caption {
		bottom: 165px;
	}
	
	.carousel-caption a {
		padding: 10px 15px;
		font-size: 15px;
	}
  .carousel-caption h5 {
    font-size: 45px;
  }
  .carousel-caption p {
    width: 80%;
    font-size: 16px;
  }
  /* Gallery */
  .wrapperGallery{
    width: 80%;
    padding: 30px 0px;
    text-align: center;
    margin-left:60px;
  }
  /* About us */
  .wrapper{
    flex-direction:column;
    margin-top:0;
  }
  .container .heading h1{
    font-size:40px;
  }
  .content, .image{
    width:100%;
    margin-top:20px;
  }
  .content h2{
    font-size:25px;
  }
  .content .btn{
    font-size:16px;
    padding:12px 14px;
  }
  /* Masuk bagian About us */
  .content-container {
    flex-direction: column;
    margin: 0 20px;
  }
  
  .contentAbout, .imageAbout {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  
  .JudulAbout h2 {
    margin-left: 20px;
  }
  
  .contentAbout p {
    font-size: 16px;
  }
  /* why */
  .wrapperwhy {
    margin-top: 15px;
  }
  .titlewhy h1 {
    font-size: 28px;
    text-align: center;
  }
  .why {
    flex-direction: column;
    align-items: center;
  }
  .image-sectionwhy {
    width: 80%;
    margin-bottom: 20px;
  }
  .image-sectionwhy img {
    height: auto;
    width: 100%;
  }
  article {
    width: 90%;
    margin-top: 30px;
    text-align: center;
  }
  article h3 {
    font-size: 18px;
  }
  article p {
    font-size: 15px;
  }
  article .buttonwhy {
    margin-bottom: 50px;
  }
  article a {
    padding: 8px 20px;
    font-size: 17px;
  }
  /* Masuk bagian Why */
  .content-containerwhy {
    flex-direction: column; 
    align-items: center; 
  }

  .imageWhy {
    margin-right: 0;
    margin-bottom: 20px; 
  }

  .contentwhy {
    margin-left: 0;
  }

  .contentwhy h2 {
    margin-left: 0; 
    font-size: 20px; 
  }
  /* footer */
  .containers {
    flex-direction: column;
    align-items: center;
  }

  .footer-content {
    text-align: center;
    margin-bottom: 20px;
  }

  .footer-content p {
    width: auto;
  }

  .footer-content ul.list {
    padding: 0;
  }

  .footer-content ul.list li {
    display: inline-block;
    margin: 5px;
  }

  .social-icons {
    margin-left: 0; 
  }
  /* wa */
  .whatsapp-float {
    width: 50px;
    height: 50px;
    bottom: 15px;
    right: 10px;
  }

  .whatsapp-float i {
    font-size: 24px;
  }
  
}

@media (max-width: 576px) {
  .nav-item{
    margin-left:0px;
  }
  /* carousel */
  .carousel-caption {
    bottom: 100px;
  }
  .carousel-caption h5 {
    font-size: 35px;
  }
  .carousel-caption p {
    width: 90%;
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  /* Masuk bagian about us */
  .JudulAbout h2 {
    font-size: 24px;
    margin-left: 10px;
    margin-top: 20px;
  }
  
  .contentAbout h2 {
    font-size: 20px;
  }
  
  .contentAbout p {
    font-size: 14px;
  }
  
  .content-container {
    margin: 0 10px;
  }
  /* footer */
  .footer-content h3 {
    font-size: 20px; 
  }

  .social-icons i {
    font-size: 20px; 
  }

  .bottom-bar p {
    font-size: 14px; 
  }
  /* wa */
  .whatsapp-float {
    width: 40px;
    height: 40px;
    bottom: 10px;
    right: 9px;
  }

  .whatsapp-float i {
    font-size: 20px;
  }
  .wrapperGallery{
    width: 80%;
    padding: auto auto;
    text-align: center;
    margin-left:40px;
  }
}
