html{
  height:100%;
}
body {
  margin: 0;
  padding:0;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;
  display:flex;
  flex-direction:column;
  min-height:100%;
}

/* popup */

.popup-dialog {
  position: relative;
  border: none;
  border-radius: 8px;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
  text-align: center;
  background-color: white;
  font-family: Arial, sans-serif;
  position:fixed;
}

.popup-image {
  width: 100%;
  border-radius: 8px;
}

.popup-title {
  font-size: 24px;
  margin: 20px 0 10px;
  color: #333;
}

.popup-text {
  font-size: 16px;
  color: #555;
  margin-bottom: 15px;
}
.popup-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-Go {
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
}

.btn-Go a {
  color: white;
  text-decoration: none;
}

/* .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #555;
} */


/* nav */
.nav-item{
  margin-right:20px;
}
.navbar-nav .nav-item .nav-link.active {
  font-weight: bold !important;
  color: #9EDDFF !important; 
}

.navbar-nav .nav-item .nav-link {
  color:#9EDDFF; 
}
.navbar.open {
  background-color: #6499E9; 
}
.navbar {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background-color: transparent;
  box-shadow: none;
}

.navbar.transparent {
  background-color: transparent;
  box-shadow: none;
}

.navbar.scrolled .nav-link {
  color: #ffffff; 
}
.navbar.scrolled {
  background-color: #6499E9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.navbar-logo {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.navbar.scrolled .navbar-logo {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.navbar.transparent .navbar-logo {
  background-color: transparent;
  box-shadow: none;
}
.navbar .navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"%3e%3cpath stroke="%23ffffff" stroke-width="10" d="M10 25h80M10 50h80M10 75h80"/%3e%3c/svg%3e') !important;
}

.navbar.transparent .navbar-toggler {
  background-color: transparent !important;
}
.navigasi-page .navbar{
  background-color: #6499E9; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.navigasi-page-navbar{
  background-color: #6499E9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.navbar .nav-link {
  color: #ffffff;
}
.navbar-nav a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 700;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
.navbar-light .navbar-brand {
	color: #fff;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
	color: #fff;
}
.navbar-light .navbar-nav .nav-link {
	color: #fff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #9EDDFF;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #;
}
.navbar-logo {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
  border-radius: 5px;
  background-color:white;
  padding:10px 10px;
}

.navbar-logo:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4); 
}
.navbar-shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
}
.navbar.homepage .navbar-logo {
  display: none;
}
.navbar:not(.homepage) .navbar-logo {
  display: block;
}


/* carousel  */
.carousel-item {
  height: 100vh; 
  min-height: 300px; 
  position: relative;
  overflow: hidden;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;  
}

.carousel-caption {
  margin-bottom: 220px;
  z-index: 2;
}

.carousel-caption h5 {
  font-size: 85px;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin-top: 25px;
  font-family: cursive;
}

.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}

.carousel-caption a {
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 20px;
  display: inline-block;
  color: #fff;
  margin-top: 15px;
  border-radius: 5px;
}

.carousel-inner::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6); 
  z-index: 1;
}

.carousel-indicators {
  bottom: 65px;
}

.carousel-indicators button {
  width: 100px;
}
.single-slide .carousel-control-prev,
.single-slide .carousel-control-next,
.single-slide .carousel-indicators {
  display: none;
}
/* main */
.main{
  padding-top: 20px;
  width:100%;
  height:auto;
}
/* bagian Gallery */
.wrapperGallery {
  width: 80%;
  padding: 30px 70px;
  text-align: center;
  margin: auto;
}

.section-header {
  text-transform: uppercase;
  line-height: 70px;
  padding-bottom: 30px;
  font-size: 50px;
  color: #262626;
  letter-spacing: 2px;
}

.wrapperGallery h1::after {
  content: "";
  height: 4px;
  width: 230px;
  background-color: #008DDA;
  display: block;
  margin: auto;
}

.wrapperGallery h1 {
  font-size: 40px;
}

.contentGallery {
  padding: 10%;
}

.contentGallery h2 {
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.contentGallery p {
  line-height: 1.5;
}

.main-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 25px;
  justify-content: center;
}

.main-content .box-gallery {
  position: relative;
  cursor: pointer;
  margin-bottom: 15px;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
  height: 250px; 
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.main-content .box-gallery::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.main-content .box-gallery:hover:before {
  top: 0;
  right: calc(100% - 5px);
  z-index: 10;
}

.main-content .box-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-content .box-gallery .img-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  top: 0;
  right: 100%;
  transition: all 0.5s ease-in-out;
}

.main-content .box-gallery:hover .img-text {
  top: 0;
  right: 0;
}

.single-gallery .main-content {
  display: flex;
  justify-content: center;
}

.single-gallery .box-gallery {
  width: 100%;
  max-width: 600px; 
  height: 250px; 
}

.single-gallery img {
  width: 100%;
  max-width: 100%;
  height: 100%; 
  object-fit: cover;
}


/* bagian about */
.AboutSection {
  background-color: #F8EDFF;
  height: auto;
  margin-bottom: 70px;
}

.heading h1::after {
  content: "";
  height: 4px;
  width: 50px;
  background-color: #008DDA;
  display: block;
  margin-bottom: 10px;
}

.containerAbout .heading {
  width: 85%;
  text-align: left;
}

.containerAbout .heading h1 {
  font-size: 50px;
  margin-top: 50px;
}

.wrapper-About {
  width: 100%;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.content {
  width: 50%;
  margin: 0px 60px;
  transition: transform 0.3s ease;
  padding: 0 60px; 
  box-sizing: border-box; 
}

.content:hover {
  transform: translateY(0px);
}

.content h2 {
  font-size: 24px;
  color: #284966;
}

.content p {
  color: #666;
  font-size: 19px;
  line-height: 1.5;
  margin-top: 10px;
  overflow-wrap: break-word;
}

.content .btn {
  position: relative;
  margin-top: 30px;
  text-decoration: none;
  border: 2px solid #008DDA;
  font-size: 19px;
  color: #008DDA;
  padding: 13px 16px;
  display: inline-block;
  letter-spacing: 1px;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.3s ease;
}

.content .btn::before {
  position: absolute;
  content: "";
  border: 1px solid transparent;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #008DDA;
  z-index: -1;
  transition: transform 0.7s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.5, 0.4, 0.7);
  transform: scaleX(0);
}

.content .btn:hover {
  color: #fff;
}

.content .btn:hover::before {
  transform: scaleX(1);
}

.image {
  transition: transform 0.4s ease;
  width: 40%; 
  margin: 0 15px;
  display: flex;
  justify-content: center;
  
}

.image:hover {
  transform: translateY(0px);
}

.image img {
  width: 92%;
  height: auto;
  border-radius: 30px;
  display: block; 
}

/* Masuk bagian learn more About*/
.JudulAbout h2 {
  margin-left: 150px;
  color: Black;
  margin-top: 100px;
}

.JudulAbout h2::after {
  content: "";
  height: 4px;
  width: 50px;
  background-color: #008DDA;
  display: block;
  margin-bottom: 10px;
}

.contentAbout h2 {
  font-size: 24px;
  color: #284966;

}

.contentAbout p {
  color: #666;
  font-size: 15px;
  line-height: 1.5;
  margin-top: 10px;
  padding-bottom:50px;
  overflow-wrap: break-word;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 150px;
}

.contentAbout {
  flex: 1;
  max-width: 50%;
  margin-right: 20px;
}

.imageAbout {
  flex: 1;
  max-width: 50%;
  margin-bottom:20px;
}

.imageAbout img {
  width: 100%;
  height: auto;
  border-radius: 30px;
  float:right; 
}

/* bagian Services */
.wrapper {
  padding: 2% 10%;
  padding-bottom:5%;
}

#card-area {
  padding: 0px 0;
}

.box-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 40px;
  margin-top: 20px;
}

.box {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); 
  cursor: pointer;
  max-width: 130%;
}

.box img {
  width: 130%;
  height: 130%;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s ease; 
}

.overlay {
  width: 100%;
  height: 100%; 
  background: linear-gradient(transparent, #1c1c1c 90%);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px; 
  text-align: center;
  font-size: 16px;
  color: white;
  transition: opacity 0.5s ease; 
  opacity: 1; 

}

.overlay h3 {
  font-weight: 500;
  margin-bottom: 10px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
}

.overlay p {
  font-size: 16px; 
}

.button-container {
  position: relative;
  height: 300px; 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20pxnavbar
}

.btn-modern {
  padding: 12px 30px;
  font-size: 16px;
  font-weight: 600;
  color: black;
  background: white;
  border: none;
  border-radius: 50px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.btn-modern::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, #008DDA, #008DDA);
  z-index: -1;
  transition: all 0.4s ease;
  transform: scaleX(0);
  transform-origin: right;
}

.btn-modern:hover::before {
  transform: scaleX(1);
  transform-origin: left;
  border-radius: 50px;
}

.btn-modern:hover {
  color: white;
  background: #fff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}

.box:hover img {
  transform: scale(1.1) translateZ(10px);
  filter: blur(3px); 
}

.title h1 {
  text-align: center;
  padding-top: 50px;
  font-size: 42px;
}

.title h1::after {
  content: "";
  height: 4px;
  width: 230px;
  background-color: #008dda;
  display: block;
  margin: auto;
}

.service {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 75px auto;
  overflow: hidden;
}


.single-service .box-area,
.double-service .box-area {
  display: flex;
  justify-content: center;
}

.single-service .box {
  width: 35%;
  height: auto;
}

.double-service .box {
  width: 35%; 
  height: auto;
}

.double-service .box img {
  object-fit: cover; 
}

/* WhyUs */
.whyus {
  margin: 30px 0;
}

.wrapperwhy {
  width: 100%;
  background-color: #2b2a3d;
  padding: 50px 0;
}

.why {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
}

.image-sectionwhy {
  width: 100%; 
  max-width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; 
}

.image-sectionwhy img {
  width: 120%;
  height: auto;
  border-radius: 10px;
  border: 2px solid #fff;
  margin-right:30px;
}

article {
  width: 100%; 
  max-width: 55%; 
  box-sizing: border-box;
}

article h3 {
  font-size: 22px;
  font-weight: 500;
  color: #7d7d7d;
}

article p {
  font-size: 19px;
  color: #fff;
  margin-top: 25px;
  line-height: 1.5; 
  word-wrap: break-word; 
}

article .buttonwhy {
  margin-top: 35px;
}

article a {
  color: #008DDA;
  padding: 15px 23px;
  font-size: 19px;
  font-weight: 300;
  text-decoration: none;
  border: 1px solid #008DDA;
  border-radius: 5px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

article a:hover {
  background-color: #008DDA;
  color: #fff;
}
/* Masuk bagian Why us */
.nav-page {
  padding: 20px;
}

.Judulwhy h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 100px; 
}

.content-containerwhy {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; 
  padding: 20px;
  gap: 20px; 
}

.imageWhy {
  flex: 1 1 300px; 
  max-width: 500px;
  margin-right: 20px;
}

.imageWhy img {
  width: 100%;
  border-radius: 15px; 
  object-fit: cover;
}

.contentwhy {
  flex: 2 1 500px; 
  min-width: 300px; 
}

.contentwhy h2 {
  margin-bottom: 20px;
  font-weight: 500;
  color: #7d7d7d;
  font-size: 24px; 
}

.contentwhy p {
  line-height: 1.6;
  overflow-wrap: break-word;
}

/* slide iklan */
.hidden{
  display:none;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% + 250px));
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: slide 40s linear infinite;
  animation-timing-function: linear;
}

.logos-slide img {
  height: 100px;
  width: auto;
  margin: 0 50px;
  vertical-align: middle;
}
/* footer */
footer {
  background: #3C3D37;
  padding-top: 50px;
  margin-top:auto;
  
}

.containers {
  width: 100%;
  max-width: 1140px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-content {
  flex: 1;
  min-width: 200px;
  padding: 0 10px;
  box-sizing: border-box;
}

h3 {
  font-size: 24px; 
  margin-bottom: 15px;
  text-align: center;
  color: white;
}

.footer-content p {
  margin: auto;
  padding: 7px;
  color: white;
  text-align: center;
}

.footer-content ul {
  padding: 0;
  margin: 0;
}
.footer-content h3 {
  color:white;
}

.list {
  padding: 0;
}

.list li {
  text-align: center;
  list-style-type: none;
  padding: 7px;
  position: relative;
}

.list li::before {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 100%;
  width: 0;
  height: 2px;
  background: White;
  transition-duration: .5s;
}

.list li:hover::before {
  width: 70px;
}

.social-icons {
  padding: 0;
  text-align: center;
}

.social-icons li {
  display: inline-block;
  padding: 5px;
}

.social-icons i {
  color: white;
  font-size: 25px;
}

a {
  text-decoration: none;
}

a:hover {
  color: white;
}

.social-icons i:hover {
  color: #008DDA;
}

.bottom-bar {
  background: #6499E9;
  text-align: center;
  padding: 10px 0;
  margin-top: 50px;
}

.bottom-bar p {
  color: white;
  margin: 0;
  font-size: 16px;
  padding: 7px;
}

/* WhatsApp*/
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #25D366;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  z-index: 1000;
}

.whatsapp-float:hover {
  background-color: #128C7E;
}

/* Responsive */
@media (max-width: 1500px) {
  .wrapper-About {
    flex-direction: column; 
    align-items: center;
  }
  
  .content {
    width: 80%;
    margin: 0 0 20px 0; 
    padding: 0 20px; 
  }
  
  .image {
    width: 45%; 
    margin: 0;
    justify-content: center; 
  }
  
  .heading h1 {
    font-size: 40px;
  }
  
  .content h2 {
    font-size: 20px;
  }
  
  .content p {
    font-size: 16px;
  }
  
  .content .btn {
    font-size: 16px;
    padding: 10px 14px;
  }
}
@media only screen and (max-width: 1440px) {
  
  /* service */
  .box {
    max-width: 40%;
  }
  .triple-service .box-area, .single-service .box-area,
  .double-service .box-area{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
  }

  .triple-service .box, .single-service .box,
  .double-service .box {
    width: 100%; 
    height: auto;
  }

  .triple-service .box, .single-service .box,
  .double-service .box img{
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
@media only screen and (max-width: 991px) {
  /* nav */
  .nav-item{
    margin-right:0px;
  }
  .navbar-nav {
		text-align: center;
	}
	.navbar-collapse {
		background: #6499E9;
	}
	.navbar-collapse .nav-item .nav-link {
		color: White;
	}
  /* carousel */
	.carousel-caption {
		bottom: 350px;
	}
	.carousel-caption h5 {
		font-size: 65px;
	}
	.carousel-caption p {
		font-size: 18px;
		width: 100%;
	}
  /* Main */

  .main{
    height:auto;
  }
  
  /* Gallery */
  .wrapperGallery{
    width: 80%;
    padding: 30px 0px;
    text-align: center;
    margin-left:90px;
  }
  /* About */
  .containerAbout .heading h1 {
    font-size: 40px;
  }

  .content {
    width: 100%;
    margin: 20px 0;
    padding: 0 20px;
  }

  .wrapper-About {
    flex-direction: column;
    align-items: center;
  }

  .image {
    width: 80%;
    margin: 20px 0;
  }
  /* Masuk bagian about */
  .content-container {
    margin: 0 50px;
  }
  
  .JudulAbout h2 {
    margin-left: 50px;
    margin-top: 50px;
  }
  .image img{
    width: 60%;
    height: auto;
    border-radius: 30px;
    display: block; 
  }
  /* why */
  .why {
    flex-direction: column;
    align-items: center;
  }

  .image-sectionwhy {
    max-width: 70%; 
    margin-bottom: 20px;
  }

  .image-sectionwhy img {
    width: 100%;
    max-width: none; 
  }

  article {
    max-width: 80%; 
    padding: 0 20px;
  }

  article h3 {
    font-size: 21px; 
  }

  article p {
    font-size: 18px;
    display: flex;
    justify-content: center; 
  }

  article .buttonwhy {
    display: flex;
    justify-content: center; 
  }

  article a {
    padding: 14px 22px; 
    font-size: 18px; 
  }
  /* service */
  .triple-service .box-area, .single-service .box-area,
  .double-service .box-area{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
  }

  .triple-service .box, .single-service .box,
  .double-service .box {
    width: 70%; 
    height: auto;
  }

  .triple-service .box, .single-service .box,
  .double-service .box img{
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .box {
    max-width: 55%;
  }
  
}
@media only screen and (max-width: 776px) {
  /* navbar */
  .navbar-nav {
		text-align: center;
	}
	.navbar-collapse .nav-item .nav-link {
		color: White;
	}
  .navbar-collapse {
		background: #6499E9;
	}
  /* carousel */
	.carousel-caption {
		bottom: 165px;
	}
	
	.carousel-caption a {
		padding: 10px 15px;
		font-size: 15px;
	}
  .carousel-caption h5 {
    font-size: 45px;
  }
  .carousel-caption p {
    width: 80%;
    font-size: 16px;
  }
  /* Gallery */
  .wrapperGallery{
    width: 80%;
    padding: 30px 0px;
    text-align: center;
    margin-left:60px;
  }
  /* About us */
  .containerAbout .heading h1 {
    font-size: 28px;
  }

  .content {
    width: 100%;
    margin: 10px 0;
    padding: 0 10px;
  }

  .content h2 {
    font-size: 20px;
  }

  .content p {
    font-size: 16px;
  }

  .content .btn {
    font-size: 16px;
    padding: 10px 12px;
  }

  .wrapper-About {
    flex-direction: column;
    align-items: center;
  }

  .image {
    width: 100%;
    margin: 10px 0;
  }
  /* Masuk bagian About us */
  .content-container {
    flex-direction: column;
    margin: 0 20px;
  }
  
  .contentAbout, .imageAbout {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  
  .JudulAbout h2 {
    margin-left: 20px;
  }
  
  .contentAbout p {
    font-size: 16px;
  }
  /* why */
  .why {
    flex-direction: column;
    align-items: center;
  }

  .image-sectionwhy {
    max-width: 30%; 
    margin-bottom: 20px; 
  }

  .image-sectionwhy img {
    width: 100%; 
    margin-right: 0; 
  }

  article {
    max-width: 100%; 
    text-align: center;
  }

  article h3 {
    font-size: 20px;
  }

  article p {
    font-size: 17px;
  }

  article a {
    font-size: 17px;
    padding: 12px 20px;
  }
  /* Masuk bagian Why */
  .content-containerwhy {
    flex-direction: column; 
    align-items: center; 
  }
  
  .image-sectionwhy {
    margin-right: 0;
    margin-bottom: 20px; 
  }
  .image-sectionwhy img{
    width:250%;
    height:auto;
  }

  .contentwhy {
    margin-left: 0;
  }

  .contentwhy h2 {
    margin-left: 0; 
    font-size: 20px; 
  }
  /* service */
  .wrapper{
    padding-bottom:15%;
  }
  .box-area {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
  }

  .box {
    height: 250px; 
  }

  .btn-modern {
    font-size: 14px;
    padding: 10px 25px;
  }

  .overlay h3 {
    font-size: 20px;
  }

  .overlay p {
    font-size: 12px;
  }
  .box {
    max-width: 60%;
  }
  .triple-service .box-area, .single-service .box-area,
  .double-service .box-area{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
  }

  .triple-service .box, .single-service .box,
  .double-service .box {
    width: 70%; 
    height: auto;
  }

  .triple-service .box, .single-service .box,
  .double-service .box img{
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  /* footer */
  .containers {
    flex-direction: column;
    align-items: center;
  }

  .footer-content {
    text-align: center;
    margin-bottom: 20px;
  }

  .footer-content p {
    width: auto;
  }

  .footer-content ul.list {
    padding: 0;
  }

  .footer-content ul.list li {
    display: inline-block;
    margin: 5px;
  }

  .social-icons {
    margin-left: 0; 
  }
  /* wa */
  .whatsapp-float {
    width: 50px;
    height: 50px;
    bottom: 15px;
    right: 10px;
  }

  .whatsapp-float i {
    font-size: 24px;
  }
  
}

@media (max-width: 576px) {
  .nav-item{
    margin-left:0px;
  }
  /* carousel */
  .carousel-caption {
    bottom: 100px;
  }
  .carousel-caption h5 {
    font-size: 35px;
  }
  .carousel-caption p {
    width: 90%;
    font-size: 14px;
  }
  /* about */
  .content-container {
    flex-direction: column;
    margin: 0 20px;
  }
  
  .contentAbout {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .imageAbout {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .JudulAbout h2 {
    margin-left: 20px;
    margin-top: 30px;
    font-size: 24px;
  }

  .JudulAbout h2::after {
    width: 30px;
  }

  .contentAbout h2 {
    font-size: 20px;
  }

  .contentAbout p {
    font-size: 14px;
  }
 
  /* service */
  .box {
    max-width: 90%;
  }
  .triple-service .box-area, .single-service .box-area,
  .double-service .box-area{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
  }

  .triple-service .box, .single-service .box,
  .double-service .box {
    width: 100%; 
    height: auto;
  }

  .triple-service .box, .single-service .box,
  .double-service .box img{
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  /* why */
  .why {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .image-sectionwhy {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .image-sectionwhy img {
    width: 100%;
    max-width: none; /* Remove the 120% width */
    margin-right: 0; /* Remove the right margin */
  }

  article {
    max-width: 100%;
    padding: 0 10px;
  }

  article h3 {
    font-size: 20px; /* Slightly smaller font size */
  }

  article p {
    font-size: 16px; /* Slightly smaller font size */
    margin-top: 15px; /* Adjust margin for smaller screens */
  }

  article .buttonwhy {
    margin-top: 20px; /* Adjust margin for smaller screens */
  }

  article a {
    padding: 12px 20px; /* Adjust padding for smaller screens */
    font-size: 17px; /* Adjust font size for smaller screens */
  }
  
}

@media (max-width: 480px) {
  /* Masuk bagian about us */
  .JudulAbout h2 {
    font-size: 24px;
    margin-left: 10px;
    margin-top: 20px;
  }
  
  .contentAbout h2 {
    font-size: 20px;
  }
  
  .contentAbout p {
    font-size: 14px;
  }
  
  .content-container {
    margin: 0 10px;
  }
  /* footer */
  .footer-content h3 {
    font-size: 20px; 
  }

  .social-icons i {
    font-size: 20px; 
  }

  .bottom-bar p {
    font-size: 14px; 
  }
  /* wa */
  .whatsapp-float {
    width: 40px;
    height: 40px;
    bottom: 10px;
    right: 9px;
  }

  .whatsapp-float i {
    font-size: 20px;
  }
  .wrapperGallery{
    width: 80%;
    padding: auto auto;
    text-align: center;
    margin-left:40px;
  }
  /* service */
  .box {
    max-width: 100%;
  }
  .triple-service .box-area, .single-service .box-area,
  .double-service .box-area{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
  }

  .triple-service .box, .single-service .box,
  .double-service .box {
    width: 100%; 
    height: auto;
  }

  .triple-service .box, .single-service .box,
  .double-service .box img{
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .overlay h3 {
    font-weight: 500;
    margin-bottom: 10px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
  }
  
  .overlay p {
    font-size: 10px; 
  }
} 
